{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico">

    <title>Mediscan</title>

    <!-- Bootstrap core CSS -->

    <link href="{%static 'css/dist/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{%static 'css/pricing.css'%}" rel="stylesheet">
</head>

<body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
        <h5 class="my-0 mr-md-auto font-weight-normal">Mediscan</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="{% url 'home' %}">Home</a>
        </nav>
        <a class="btn btn-outline-primary" href="{% url 'login' %}">Sign in</a>

    </div>

    <main class="site-main">


        <!--  ======================= Start Banner Area =======================  -->
        <section class="site-banner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 site-title">
                        <h1>Mediscan</h1>
                        <h3 class="title-text">Prescription Scanning Made Easy</h3>
                        <h4 class="title-text text-uppercase">Simplify Your Medicine Management with Mediscan</h4>
                        <br>
                        <div class="site-buttons">

                            <div class="d-flex flex-row flex-wrap">
                                <a href="{% url 'login' %}"><button type="button"
                                        class="btn button primary-button mr-4 text-capitalize">Sign In</button></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 banner-image">
                        <img src="{%static 'images/Medical prescription-amico.svg'%}" alt="banner-img"
                            class="img-fluid">
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script>
        window.jQuery || document.write('<script src="{% static "js/assets/js/vendor/jquery-slim.min.js"%}"><\/script>')
    </script>
    <script src="{% static 'js/assets/js/vendor/popper.min.js'%}"></script>
    <script src="{% static 'js/dist/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'js/assets/js/vendor/holder.min.js'%}"></script>
    <script>
        Holder.addTheme('thumb', {
            bg: '#55595c',
            fg: '#eceeef',
            text: 'Thumbnail'
        });
    </script>
</body>

</html>