{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{%static 'css/style1.css'%}" />
    <title>Sign in & Sign up Form</title>
</head>

<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form action="{% url 'pass-activate' uid64=uid64 token=token %}" method="post">
                    {% csrf_token %}
                    <h2 class="title">Reset Password</h2>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="password" placeholder="Password" />
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" name="password1" placeholder="Password" />
                    </div>
                    <input type="submit" class="btn" value="Reset" />
                </form>
            </div>
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
                <img src="{%static 'images/Reset_password-pana.svg'%}" class="image" alt="" />
            </div>
        </div>
    </div>
</body>

</html>